* {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

#root {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
