.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: absolute;
  top: 20px;
  width: 100%;
}

.navbar button {
  padding: 10px;
  margin: 0px 10px;
}
